.friends {
  background-color: #fff5f0;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.friends h3 {
  margin-bottom: 15px;
  color: #333;
}

.friends ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.friends li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}

.friends li img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.friends a {
  color: #f05a28;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
