.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.friends-icon{
  display: flex;
  width: 100%;
  align-items: center;
}

.friends-icon h3, .fa-user-group {
  /*color: #535767;*/
  padding-right: 10px;
}

.friends ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.friends li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}

.friends li img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.friends a {
  color: #f05a28;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
