body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fffaf6;
}

#header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px); /* altura total menos o header */
}

#menu {
  width: 220px;
  flex-shrink: 0;
}

#conteudo {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

#friends {
  width: 220px;
  flex-shrink: 0;
}

#footer {
  padding: 10px;
  background: #eee;
  text-align: center;
}
