body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fff5f0;
}

#header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px); /* altura total menos o header */
}

#menu {
  width: 280px;
  flex-shrink: 0;
}

#conteudo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fff5f0;
}

#friends {
  width: 280px;
  flex-shrink: 0;
}

#footer {
  padding: 10px;
  background: #eee;
  text-align: center;
}
